<p-toast class="custom-toast" position="bottom-right"/>
<p-confirmdialog />
<h2 class="flex justify-content-center">{{pageName}}</h2>
<div class="flex flex-column lg:flex-row lg:justify-content-between align-items-center lg:align-items-start p-4">
    <p-stepper [value]="1" class="custom-stepper">
        <p-step-list>
            <p-step [value]="1">General Information</p-step>
            <p-step [value]="2">Skills</p-step>
        </p-step-list>
        <p-step-panels>
            <p-step-panel [value]="1">
               <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-column gap-3">
                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel">
                                <p-iconfield>
                                    <input pInputText id="name" autocomplete="off" class="w-full custom-input" 
                                        [class.ng-invalid]="errorMap.get(selectedNode().id + '.name') != undefined" [class.ng-dirty]="errorMap.get(selectedNode().id + '.name') != undefined" 
                                        [ngModel]="selectedNode().name" (ngModelChange)="onNameChange(selectedNode(), $event)" pTooltip="A name given to the {{getSelectedNodeType()}}"
                                        tooltipPosition="right" showDelay="200" hideDelay="200" maxlength="200"/>
                                    <p-inputicon class="pi pi-pencil" [style]="errorMap.get(selectedNode().id + '.title') != undefined ? 'color: var(--danger-color)' : ''" />
                                </p-iconfield>
                                <label for="title">Title *</label>
                            </p-floatlabel>
                            @if(errorMap.get(selectedNode().id + '.title')) {
                                <p style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(selectedNode().id + '.title')}}</p>
                            }
                        </div>
                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel">
                                <textarea id="description" pTextarea [(ngModel)]="selectedNode().description"
                                    [class.ng-invalid]="errorMap.get(selectedNode().id + '.description') != undefined" [class.ng-dirty]="errorMap.get(selectedNode().id + '.description') != undefined"
                                    rows="4" class="w-full custom-textarea m-0"
                                    pTooltip="Provide a concise summary or overview of the {{getSelectedNodeType()}} content. Include key topics, purpose, scope, and any important features." 
                                    tooltipPosition="right" showDelay="200" hideDelay="200" maxlength="2000"></textarea>
                                <div class="textarea-length" [style]="errorMap.get(selectedNode().id + '.description') != undefined ? 'color: var(--danger-color)' : ''">
                                    <span>{{selectedNode().description.length + ' '}}</span>
                                    <span>/ 2000</span>
                                </div>
                                <label for="description">Description *</label>
                            </p-floatlabel>
                            @if(errorMap.get(selectedNode().id + '.description')) {
                                <p style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(selectedNode().id + '.description')}}</p>
                            }
                        </div>
                        <div>
                            <div class="custom-border p-2" style="color: #64748b;" pTooltip="List of Body of Knowledge concepts addressed in the {{getSelectedNodeType()}}" 
                                tooltipPosition="right" showDelay="200" hideDelay="200" 
                                [style.border-color]="errorMap.get(selectedNode().id + '.bokConcepts') != undefined ? 'var(--danger-color)' : '' ">
                                <bokModal [(selectedConcepts)]="selectedNode().bokConcepts" [label]="'Knowledge Annotations *'"
                                    [style.color]="errorMap.get(selectedNode().id + '.bokConcepts') != undefined ? 'var(--danger-color)' : '' "></bokModal>
                            </div>
                            @if(errorMap.get(selectedNode().id + '.bokConcepts')) {
                                <p style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(selectedNode().id + '.bokConcepts')}}</p>
                            }
                        </div>
                        <div>
                            <text-chips [fieldName]="'Prerequisites *'" [icon]="'pi pi-list-check'" [(chips)]="selectedNode().prerequisites"
                                    [error]="errorMap.get(selectedNode().id + '.prerequisites') != undefined" 
                                    pTooltip="Prerequisites describe the knowledge, skills, qualifications, or experiences that a learner is expected to have before starting this {{getSelectedNodeType()}}" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"></text-chips>
                            @if(errorMap.get(selectedNode().id + '.prerequisites')) {
                                <p style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(selectedNode().id + '.prerequisites')}}</p>
                            }
                        </div>
                        <div>
                            <custom-select [fieldName]="'EQF Level *'" [selection]="selectedNodeEqf()" (selectionChange)="onEqfChange($event)"
                                    [error]="errorMap.get(selectedNode().id + '.eqf') != undefined" [optionsName]="'EQF Level'" [filter]="false"
                                    pTooltip="The European Qualifications Framework. Indicates level of knowledge, skills and competences, from 1 (basic) to 8 (highly specialized)." 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"></custom-select>
                            @if(errorMap.get(selectedNode().id + '.eqf')) {
                                <p style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(selectedNode().id + '.eqf')}}</p>
                            }
                        </div>
                        <div>
                            <p-floatlabel variant="on" class="w-full custom-floatlabel">
                                <p-iconfield>
                                    <p-inputnumber id="workload" [min]="0" [useGrouping]="false" suffix=" ECTS"
                                        [class.ng-invalid]="errorMap.get(selectedNode().id + '.ects') != undefined" [class.ng-dirty]="errorMap.get(selectedNode().id + '.ects') != undefined" 
                                        class="custom-input" [(ngModel)]="selectedNode().ects" fluid tooltipPosition="right" showDelay="200" hideDelay="200"
                                        pTooltip="Amount of time expected to invest in order to meet the defined learning outcomes, quantified using ECTS"/>
                                    <p-inputicon class="pi pi-clock"/>
                                </p-iconfield>
                                <label for="workload">Workload *</label>
                            </p-floatlabel>
                            @if(errorMap.get(selectedNode().id + '.ects')) {
                                <p style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(selectedNode().id + '.ects')}}</p>
                            }
                        </div>
                        <div>
                            <div class="custom-border p-2" style="color: #64748b;" tooltipPosition="right" showDelay="200" hideDelay="200"
                                pTooltip="The total time required to complete this {{getSelectedNodeType()}}." 
                                [style.border-color]="errorMap.get(selectedNode().id + '.timeRequired') != undefined ? 'var(--danger-color)' : '' ">
                                Duration *
                                <div class="flex gap-3 p-3">
                                    <p-floatlabel variant="on" class="w-full custom-floatlabel">
                                        <p-iconfield>
                                            <p-inputnumber id="durationValue" [min]="0" [useGrouping]="false"
                                                [class.ng-invalid]="errorMap.get(selectedNode().id + '.timeRequired') != undefined" 
                                                [class.ng-dirty]="errorMap.get(selectedNode().id + '.timeRequired') != undefined" 
                                                class="custom-input" [(ngModel)]="selectedNode().timeRequired.value" fluid/>
                                            <p-inputicon class="pi pi-calculator"/>
                                        </p-iconfield>
                                        <label for="durationValue">Value</label>
                                    </p-floatlabel>
                                    <p-floatlabel variant="on" class="custom-floatlabel w-full">
                                        <p-select [inputId]="'durationUnit'" [options]="DURATION_UNIT" [(ngModel)]="selectedNode().timeRequired.unit"  class="w-full custom-select" 
                                            [checkmark]="true" optionLabel="label" optionValue="value"/>
                                        <label [for]="'durationUnit'">Unit</label>
                                    </p-floatlabel>
                                </div>
                            </div>
                            @if(errorMap.get(selectedNode().id + '.timeRequired')) {
                                <p style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(selectedNode().id + '.timeRequired')}}</p>
                            }
                        </div>
                        <div>
                            <multiselect-chips optionsName="Study Areas" fieldName="Study Areas *" [(chips)]="selectedStudyAreas"  icon="pi pi-bookmark"
                                pTooltip="Specific area(s) of study of the profile. Maintained by the UNESCO Institute for Statistics"
                                tooltipPosition="top" showDelay="200" hideDelay="200">
                            </multiselect-chips>
                        </div>
                        <div class="flex flex-column">
                            <treeselect-chips
                                [(chips)]="selectedTransversalSkills" [treeselectOptions]="transversalSkills" fieldName="Transversal Skills"
                                pTooltip="Skills considered unrelated to a particular job, task, academic discipline or area of knowledge but that can be used in a wide variety of situations and work settings. Based on the ESCO transversal and cross-sector skills."
                                tooltipPosition="top" showDelay="200" hideDelay="200"
                            ></treeselect-chips>
                            @if(!showCustomTransversalSkills) {
                                <p-button [rounded]="true" [text]="true" size="small" (onClick)="showCustomTransversalSkills = true"
                                    class="text-button ml-auto mt-1 p-0 text-xs font-italic">Add custom Transversal Skills</p-button>
                            }
                        </div>
                        @if(showCustomTransversalSkills) {
                            <div>
                                <text-chips [fieldName]="'Custom Transversal Skills'" [icon]="'pi pi-chart-bar'" [(chips)]="selectedNode().customTransversalSkills"
                                        pTooltip="Custom transversal skills related to this {{getSelectedNodeType()}}" 
                                        tooltipPosition="right" showDelay="200" hideDelay="200"></text-chips>
                            </div>
                        }
                        <div>
                            <text-chips [fieldName]="'Learning Outcomes *'" [icon]="'pi pi-graduation-cap'" [(chips)]="selectedNode().learningObjectives"
                                    [error]="errorMap.get(selectedNode().id + '.learningObjectives') != undefined" 
                                    pTooltip="Learning outcomes describe the knowledge, skills, qualifications, or experiences that a learner is expected to have after completing this {{getSelectedNodeType()}}" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"></text-chips>
                            @if(errorMap.get(selectedNode().id + '.learningObjectives')) {
                                <p style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(selectedNode().id + '.learningObjectives')}}</p>
                            }
                        </div>
                        // Training Materials component to be added here
                        <div>
                            <text-chips [fieldName]="'Bibliography'" [icon]="'pi pi-book'" [(chips)]="selectedNode().bibliography"
                                    pTooltip="Bibliography describe the recommended reading materials, resources, or references related to this {{getSelectedNodeType()}}" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"></text-chips>
                        </div>
                        // Affiliations component to be added here
                    </div>
               </ng-template>
            </p-step-panel>
        </p-step-panels>
    </p-stepper>
    <div class="offer-index-column flex flex-column gap-3">
        <offer-index-component [offer]="offer()" [selectedNode]="selectedNode().id" (selectedNodeChanged)="changeSelectedNode($event)"></offer-index-component>
        <p-panel class="custom-panel">
            <div class="font-bold mb-3">Add New Node</div>
            <div class="flex gap-3">
                <p-floatlabel variant="on" class="custom-floatlabel w-full">
                    <p-select [inputId]="'newNodeType'" [options]="getValidChildTypes()" [(ngModel)]="newNodeType" class="w-full custom-select" [checkmark]="true"
                        pTooltip="The new node type" tooltipPosition="bottom" showDelay="200" hideDelay="200" [disabled]="getValidChildTypes().length <= 0"/>
                    <label [for]="'newNodeType'">Node Type</label>
                </p-floatlabel>
                @if(newNodeType == 'Module') {
                    <p-floatlabel variant="on" class="custom-floatlabel w-full">
                        <p-select [inputId]="'newNodeModuleType'" [options]="getValidModuleTypes()" [(ngModel)]="newNodeModuleType"  class="w-full custom-select" 
                            [checkmark]="true" pTooltip="The new module type" tooltipPosition="bottom" showDelay="200" hideDelay="200" 
                            optionLabel="label" optionValue="value"/>
                        <label [for]="'newNodeModuleType'">Module Type</label>
                    </p-floatlabel>
                }
                <p-button icon="pi pi-plus" rounded [disabled]="newNodeType == undefined || (newNodeType == 'Module' && newNodeModuleType == undefined)" 
                    class="custom-button" (onClick)="addNewChild()"></p-button>
            </div>
        </p-panel>
        <div class="flex justify-content-end gap-3">
            <p-button icon="pi pi-refresh" class="delete-button" label="Reset Root Node" (onClick)="resetRootNode()"></p-button>
            <p-button class="custom-button" label="Submit" disabled></p-button>
        </div>
    </div>
</div>

<p-dialog [header]="rootNodeModalClosable ? 'Reset Root Node' : 'Add Root Node'" [modal]="true" [(visible)]="rootNodeModalVisible" 
            [style]="{ width: '30rem', color: 'var(--primary-color)' }" [draggable]="false" [closable]="rootNodeModalClosable">
    <div class="flex gap-3 p-3">
        <p-floatlabel variant="on" class="custom-floatlabel w-full">
            <p-select [inputId]="'newNodeType'" [options]="getRootNodeTypes()" [(ngModel)]="rootNodeType" class="w-full custom-select" [checkmark]="true"
                pTooltip="The new node type" tooltipPosition="bottom" showDelay="200" hideDelay="200" appendTo="body"/>
            <label [for]="'newNodeType'">Node Type</label>
        </p-floatlabel>
        @if(rootNodeType == 'Module') {
            <p-floatlabel variant="on" class="custom-floatlabel w-full">
                <p-select [inputId]="'newNodeModuleType'" [options]="getRootModuleTypes()" [(ngModel)]="rootNodeModuleType"  class="w-full custom-select" 
                    [checkmark]="true" pTooltip="The new module type" tooltipPosition="bottom" showDelay="200" hideDelay="200" 
                    optionLabel="label" optionValue="value" appendTo="body"/>
                <label [for]="'newNodeModuleType'">Module Type</label>
            </p-floatlabel>
        }
        <p-button icon="pi pi-plus" rounded [disabled]="rootNodeType == undefined || (rootNodeType == 'Module' && rootNodeModuleType == undefined)" 
            class="custom-button" (onClick)="addRootNode()"></p-button>
    </div>
</p-dialog>
