<p-panel class="my-2 custom-panel">
    <ng-template #header>
        <div class="flex flex-column">
            <div class="font-italic">{{getNodeType(offer.root.nodeType)}}</div>
            <div class="font-bold text-xl">
                {{offer.root.name == '' ? ('offerIndex.newNodeName' | translate: {nodeType: getNodeType(offer.root.nodeType)}) : offer.root.name}}
            </div>
        </div>
    </ng-template> 
    <p-tabs class="w-full custom-tabs" value="0">
        <p-tablist>
            <p-tab value="0">{{'offerIndex.tablist.index' | translate}}</p-tab>
            <p-tab value="1">{{'offerIndex.tablist.tree' | translate}}</p-tab>
        </p-tablist>
        <p-tabpanels class="p-0 overflow-auto">
            <p-tabpanel value="0">
                <div class="flex align-items-baseline">
                    <p-button [icon]="getExpandedIcon()" variant="text" class="custom-button expand-button" (onClick)="updateExpanded()"
                        [pTooltip]="getExpandedTooltip(0)" tooltipPosition="bottom"></p-button>
                    <p-tree [value]="treeNodeRoot()" [selection]="selectedTreeNode()" selectionMode="single" class="w-full custom-tree ml-0" 
                        (selectionChange)="onTreeNodeSelection($event)" (onNodeUnselect)="preventTreeNodeUnselect($event)">
                        <ng-template let-node pTemplate="default">
                            <div class="flex column-gap-2 justify-content-start flex-wrap align-items-baseline">
                                {{node.label == '' ? ('offerIndex.newNodeName' | translate: {nodeType: getNodeType(node.data.type)}) : node.label}}
                                <div class="type-text text-xs font-italic">{{getNodeType(node.data.type)}}</div>
                            </div>
                        </ng-template>
                    </p-tree>
                </div>
            </p-tabpanel>
            <p-tabpanel value="1">
                <br>
                <div class="flex">
                    <div class="flex flex-column justify-content-start align-items-center gap-3 p-2">
                        <i class="pi pi-search-plus align-content-center" style="font-size: 1rem"></i>
                        <p-slider [ngModel]="scale()" (ngModelChange)="updateScale($event)" orientation="vertical" min="0.25" max="1.5" step="0.05" class="flex justify-content-center custom-slider"/>
                        <i class="pi pi-search-minus" style="font-size: 1rem"></i>
                        <p-button [icon]="getExpandedIcon()" variant="text" class="custom-button expand-button" (onClick)="updateExpanded()"
                            [pTooltip]="getExpandedTooltip(1)" tooltipPosition="bottom"></p-button>
                    </div>
                    <div class="zoom-wrapper">
                        <div class="zoom-content" [style.zoom]="scale()">
                            <p-organization-chart 
                                class="custom-org-chart" [value]="treeNodeRoot()" [collapsible]="true" selectionMode="single" 
                                [selection]="selectedTreeNode()" (selectionChange)="onTreeNodeSelection($event)" (onNodeUnselect)="preventTreeNodeUnselect($event)">
                                <ng-template let-node pTemplate="default">
                                    <div>{{node.label == '' ? ('offerIndex.newNodeName' | translate: {nodeType: getNodeType(node.data.type)}) : node.label}}</div>
                                    <div class="text-xs font-italic">{{getNodeType(node.data.type)}}</div>
                                    @if(knowledgeDistributions().get(node.key)) {
                                        <p-divider></p-divider>
                                        <p-metergroup [value]="knowledgeDistributions().get(node.key) ?? []" class="text-xs">
                                            <ng-template #label let-value>
                                                <div class="flex gap-2">
                                                    @for(meterItem of value; track meterItem.label) {
                                                        <p-badge [pTooltip]="tooltipContent" tooltipPosition="bottom" [value]="meterItem.label" [style]="{ 'background-color': meterItem.color, color: '#ffffff' }"></p-badge>
                                                        <ng-template #tooltipContent>
                                                            <div class="flex gap-2 align-items-baseline">
                                                                <p-badge [style]="{ 'background-color': meterItem.color, color: '#ffffff' }"></p-badge>
                                                                <span>{{ knowledgeNames().get(meterItem.label) }} ({{ meterItem.value }}%)</span>
                                                            </div>
                                                        </ng-template>
                                                    }
                                                </div>
                                            </ng-template>
                                        </p-metergroup>
                                    }
                                </ng-template>
                                <ng-template let-nodeTogler #togglericon>
                                    @if(nodeTogler) {
                                        <i class="pi pi-minus" style="font-size: 1rem"></i>
                                    }
                                    @else {
                                        <i class="pi pi-plus" style="font-size: 1rem"></i>
                                    }
                                </ng-template>
                            </p-organization-chart>
                        </div>
                    </div>
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</p-panel>