.custom-panel {
    --p-panel-header-color: var(--primary-color);
    --p-panel-color: var(--primary-color);
}

::ng-deep .p-panel-header {
    padding-bottom: 0 !important;
}

.custom-tabs {
    --p-tabs-tab-active-color: var(--hover-color);
    --p-tabs-active-bar-background: var(--hover-color);
    --p-tabs-tab-hover-color: var(--primary-color);
    --p-tabs-tab-color: color-mix(in srgb, var(--primary-color) 60%, rgba(255, 255, 255, 0) 40%);
    --p-tabs-tabpanel-color: var(--primary-color);
}

.custom-org-chart {
    --p-organizationchart-node-selected-background: color-mix(in srgb, var(--secondary-color) 10%, rgba(255, 255, 255, 0.9) 90%);
    --p-organizationchart-node-hover-background: color-mix(in srgb, var(--primary-color) 10%, rgba(255, 255, 255, 0.9) 90%);
    --p-organizationchart-node-selected-color: var(--primary-color);
    --p-organizationchart-node-hover-color: var(--primary-color);
    --p-organizationchart-node-color: color-mix(in srgb, var(--primary-color) 70%, white 30%);

}

.zoom-wrapper {
  overflow: auto;
  width: 100%;
  height: 100%;
  min-height: 11rem;
}

.zoom-content {
  transform-origin: 0 0;  /* zoom from top-left corner */
  transition: transform 0.2s ease;  /* smooth zoom animation */
}

.custom-slider {
  --p-slider-range-background: var(--secondary-color);
  width: 100%;
  height: 100%;
}

.custom-tree {
  --p-tree-node-selected-background: #ffffff00;
  --p-tree-node-hover-background: #ffffff00;
  --p-tree-node-color: var(--secondary-color);
  --p-tree-node-selected-color: var(--primary-color);
  --p-tree-node-hover-color: var(--hover-color);
}

::ng-deep .p-tree {
  padding-bottom: 0rem;
}

::ng-deep .p-tree-node-content.p-tree-node-selected {
  font-weight: 700;
}

.type-text {
  color: var(--primary-color);
  font-weight: 300;
}