<p-stepper [value]="1" class="custom-stepper">
    <p-step-list class="step-list-margin">
        <p-step [value]="1">{{'curriculumNodeForm.stepList.step1' | translate}}</p-step>
        <p-step [value]="2">{{'curriculumNodeForm.stepList.step2' | translate}}</p-step>
    </p-step-list>
    <p-step-panels>
        <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-column gap-3">
                    <div>
                        <p-floatlabel variant="on" class="custom-floatlabel">
                            <p-iconfield>
                                <input pInputText id="name" autocomplete="off" class="w-full custom-input" 
                                    [class.ng-invalid]="errorMap.get(curriculumNode.id + '.name') != undefined" [class.ng-dirty]="errorMap.get(curriculumNode.id + '.name') != undefined" 
                                    [ngModel]="curriculumNode.name" (ngModelChange)="onNameChange($event)" tooltipPosition="right" showDelay="200" hideDelay="200" maxlength="200"
                                    [pTooltip]="'curriculumNodeForm.fields.title.tooltip' | translate: {nodeType: getNodeType()}"/>
                                <p-inputicon class="pi pi-pencil" [style]="errorMap.get(curriculumNode.id + '.name') != undefined ? 'color: var(--danger-color)' : ''" />
                            </p-iconfield>
                            <label for="title">{{ 'curriculumNodeForm.fields.title.label' | translate }} *</label>
                        </p-floatlabel>
                        @if(errorMap.get(curriculumNode.id + '.name')) {
                            <p style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(curriculumNode.id + '.name')}}</p>
                        }
                    </div>
                    <div>
                        <p-floatlabel variant="on" class="custom-floatlabel">
                            <textarea id="description" pTextarea [(ngModel)]="curriculumNode.description"
                                [class.ng-invalid]="errorMap.get(curriculumNode.id + '.description') != undefined" [class.ng-dirty]="errorMap.get(curriculumNode.id + '.description') != undefined"
                                rows="4" class="w-full custom-textarea m-0" tooltipPosition="right" showDelay="200" hideDelay="200" maxlength="2000"
                                [pTooltip]="'curriculumNodeForm.fields.description.tooltip' | translate: {nodeType: getNodeType()}"></textarea>
                            <div class="textarea-length" [style]="errorMap.get(curriculumNode.id + '.description') != undefined ? 'color: var(--danger-color)' : ''">
                                <span>{{curriculumNode.description.length + ' '}}</span>
                                <span>/ 2000</span>
                            </div>
                            <label for="description">{{ 'curriculumNodeForm.fields.description.label' | translate }} *</label>
                        </p-floatlabel>
                        @if(errorMap.get(curriculumNode.id + '.description')) {
                            <p style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(curriculumNode.id + '.description')}}</p>
                        }
                    </div>
                    <div>
                        <div class="custom-border p-2" style="color: #64748b;" [pTooltip]="'curriculumNodeForm.fields.bok.tooltip' | translate: {nodeType: getNodeType()}" 
                            tooltipPosition="right" showDelay="200" hideDelay="200" 
                            [style.border-color]="errorMap.get(curriculumNode.id + '.bokConcepts') != undefined ? 'var(--danger-color)' : '' ">
                            <bokModal [(selectedConcepts)]="curriculumNode.bokConcepts" (selectedConceptsChange)="curriculumNodeChanged.emit()" [label]="('curriculumNodeForm.fields.bok.label' | translate) + ' *'"
                                [style.color]="errorMap.get(curriculumNode.id + '.bokConcepts') != undefined ? 'var(--danger-color)' : '' "></bokModal>
                        </div>
                        @if(errorMap.get(curriculumNode.id + '.bokConcepts')) {
                            <p style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(curriculumNode.id + '.bokConcepts')}}</p>
                        }
                    </div>
                    <div>
                        <custom-select [fieldName]="('curriculumNodeForm.fields.eqf.label' | translate) + ' *'" [selection]="selectedNodeEqf()" (selectionChange)="onEqfChange($event)"
                                [error]="errorMap.get(curriculumNode.id + '.eqf') != undefined" [optionsName]="'EQF Level'" [filter]="false" showDelay="200" hideDelay="200"
                                [pTooltip]="'curriculumNodeForm.fields.eqf.tooltip' | translate" tooltipPosition="right"></custom-select>
                        @if(errorMap.get(curriculumNode.id + '.eqf')) {
                            <p style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(curriculumNode.id + '.eqf')}}</p>
                        }
                    </div>
                    <div>
                        <p-floatlabel variant="on" class="w-full custom-floatlabel">
                            <p-iconfield>
                                <p-inputnumber id="workload" [min]="0" [useGrouping]="false" suffix=" ECTS" mode="decimal" [minFractionDigits]="1" [maxFractionDigits]="1"
                                    [class.ng-invalid]="errorMap.get(curriculumNode.id + '.ects') != undefined" [class.ng-dirty]="errorMap.get(curriculumNode.id + '.ects') != undefined" 
                                    class="custom-input" [(ngModel)]="curriculumNode.ects" fluid tooltipPosition="right" showDelay="200" hideDelay="200"
                                    [pTooltip]="'curriculumNodeForm.fields.workload.tooltip' | translate" allowEmpty="false"/>
                                <p-inputicon class="pi pi-clock" [style]="errorMap.get(curriculumNode.id + '.ects') != undefined ? 'color: var(--danger-color)' : ''"/>
                            </p-iconfield>
                            <label for="workload">{{ 'curriculumNodeForm.fields.workload.label' | translate }} *</label>
                        </p-floatlabel>
                        @if(errorMap.get(curriculumNode.id + '.ects')) {
                            <p style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(curriculumNode.id + '.ects')}}</p>
                        }
                    </div>
                    <div>
                        <div class="custom-border p-2" style="color: #64748b;" tooltipPosition="right" showDelay="200" hideDelay="200"
                            [pTooltip]="'curriculumNodeForm.fields.duration.tooltip' | translate: {nodeType: getNodeType()}" 
                            [style.border-color]="errorMap.get(curriculumNode.id + '.timeRequired') != undefined ? 'var(--danger-color)' : '' ">
                            <div class="ml-1" [style]="errorMap.get(curriculumNode.id + '.timeRequired') != undefined ? 'color: var(--danger-color);' : ''">{{'curriculumNodeForm.fields.duration.label' | translate}} *</div>
                            <div class="flex flex-column sm:flex-row gap-3 p-3">
                                <p-floatlabel variant="on" class="w-full custom-floatlabel">
                                    <p-iconfield>
                                        <p-inputnumber id="durationValue" [min]="0" [useGrouping]="false"
                                            [class.ng-invalid]="errorMap.get(curriculumNode.id + '.timeRequired') != undefined" 
                                            [class.ng-dirty]="errorMap.get(curriculumNode.id + '.timeRequired') != undefined" 
                                            class="custom-input" [(ngModel)]="curriculumNode.timeRequired.value" fluid/>
                                        <p-inputicon class="pi pi-calculator" [style]="errorMap.get(curriculumNode.id + '.timeRequired') != undefined ? 'color: var(--danger-color)' : ''"/>
                                    </p-iconfield>
                                    <label for="durationValue">{{'curriculumNodeForm.fields.duration.durationValue' | translate}}</label>
                                </p-floatlabel>
                                <p-floatlabel variant="on" class="custom-floatlabel w-full">
                                    <p-select [inputId]="'durationUnit'" [options]="DURATION_UNIT" [(ngModel)]="curriculumNode.timeRequired.unit"  class="w-full custom-select" 
                                        [checkmark]="true" optionLabel="label" optionValue="value"/>
                                    <label [for]="'durationUnit'">{{'curriculumNodeForm.fields.duration.durationUnit' | translate}}</label>
                                </p-floatlabel>
                            </div>
                        </div>
                        @if(errorMap.get(curriculumNode.id + '.timeRequired')) {
                            <p style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(curriculumNode.id + '.timeRequired')}}</p>
                        }
                    </div>
                    <div>
                        <multiselect-chips optionsName="Study Areas" fieldName="{{'curriculumNodeForm.fields.studyAreas.label' | translate}} *" [(chips)]="selectedStudyAreas"  icon="pi pi-bookmark"
                            [pTooltip]="'curriculumNodeForm.fields.studyAreas.tooltip' | translate: {nodeType: getNodeType()}" 
                            tooltipPosition="top" showDelay="200" hideDelay="200" (chipsChange)="onStudyAreasChange()" [error]="errorMap.get(curriculumNode.id + '.studyAreas') != undefined">
                        </multiselect-chips>
                        @if(errorMap.get(curriculumNode.id + '.studyAreas')) {
                            <p style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(curriculumNode.id + '.studyAreas')}}</p>
                        }
                    </div>
                </div>
                <div class="flex justify-content-end mt-3">
                    <p-button class="custom-button" [label]="'curriculumNodeForm.buttons.next' | translate" icon="pi pi-arrow-right" iconPos="right" (onClick)="goToNextStep(activateCallback, 2)" />
                </div>
            </ng-template>
        </p-step-panel>
        <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-column gap-3">
                    @if(selectedCourse) {
                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel w-full">
                                <p-select [inputId]="'courseType'" [options]="COURSE_TYPE" [(ngModel)]="selectedCourse.courseType"  class="w-full custom-select" 
                                    [checkmark]="true" optionLabel="label" optionValue="value" tooltipPosition="right" showDelay="200" hideDelay="200"
                                    [pTooltip]="'curriculumNodeForm.fields.courseType.tooltip' | translate" />
                                <label [for]="'courseType'">{{'curriculumNodeForm.fields.courseType.label' | translate}}</label>
                            </p-floatlabel>
                        </div>
                    }
                    @if(selectedCourse) {
                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel">
                                <textarea id="assessment" pTextarea [(ngModel)]="selectedCourse.assessment"
                                    [class.ng-invalid]="errorMap.get(curriculumNode.id + '.assessment') != undefined" [class.ng-dirty]="errorMap.get(curriculumNode.id + '.assessment') != undefined"
                                    rows="4" class="w-full custom-textarea m-0"
                                    [pTooltip]="'curriculumNodeForm.fields.assessment.tooltip' | translate" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200" maxlength="1000"></textarea>
                                <div class="textarea-length" [style]="errorMap.get(curriculumNode.id + '.assessment') != undefined ? 'color: var(--danger-color)' : ''">
                                    <span>{{selectedCourse.assessment.length + ' '}}</span>
                                    <span>/ 1000</span>
                                </div>
                                <label for="assessment">{{'curriculumNodeForm.fields.assessment.label' | translate}} *</label>
                            </p-floatlabel>
                            @if(errorMap.get(curriculumNode.id + '.assessment')) {
                                <p style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(curriculumNode.id + '.assessment')}}</p>
                            }
                        </div>
                    }
                    @if(selectedLecture) {
                        <div class="flex w-full">
                            <p-selectbutton [options]="LECTURE_ISPRACTICAL" [(ngModel)]="selectedLecture.isPractical" optionLabel="label" optionValue="value"
                                [pTooltip]="'curriculumNodeForm.fields.lecturePractical.tooltip' | translate" allowEmpty="false"
                                tooltipPosition="right" showDelay="200" hideDelay="200"/>
                        </div>
                    }
                    <div>
                        <div class="custom-border p-2" style="color: #64748b;" tooltipPosition="right" showDelay="200" hideDelay="200"
                            [pTooltip]="'curriculumNodeForm.fields.affiliations.tooltip' | translate: {nodeType: getNodeType()}"
                            [style.border-color]="errorMap.get(curriculumNode.id + '.affiliations') != undefined ? 'var(--danger-color)' : '' ">
                            <div class="ml-1" [style]="errorMap.get(curriculumNode.id + '.affiliations') != undefined ? 'color: var(--danger-color);' : ''">
                                {{'curriculumNodeForm.fields.affiliations.label' | translate}} *
                            </div>
                            @for(mat of curriculumNode.affiliations; track mat.name; let idx = $index) {
                                <div class="flex flex-column sm:flex-row gap-3 p-3">
                                    <p-floatlabel variant="on" class="custom-floatlabel flex-1">
                                        <p-iconfield>
                                            <input pInputText [id]="'affiliationName' + idx" autocomplete="off" class="w-full custom-input" [(ngModel)]="mat.name"/>
                                            <p-inputicon class="pi pi-pencil"/>
                                        </p-iconfield>
                                        <label [for]="'affiliationName' + idx">{{'curriculumNodeForm.fields.affiliations.affiliationName' | translate}} *</label>
                                    </p-floatlabel>
                                    <p-floatlabel variant="on" class="custom-floatlabel flex-1">
                                        <p-iconfield>
                                            <input pInputText [id]="'affiliationUrl' + idx" autocomplete="off" class="w-full custom-input" [(ngModel)]="mat.url"/>
                                            <p-inputicon class="pi pi-pencil"/>
                                        </p-iconfield>
                                        <label [for]="'affiliationUrl' + idx">{{'curriculumNodeForm.fields.affiliations.affiliationUrl' | translate}}</label>
                                    </p-floatlabel>
                                    <p-button icon="pi pi-trash" rounded class="delete-button" (onClick)="deleteAffiliation(idx)"></p-button>
                                </div>
                                @if(idx != curriculumNode.affiliations.length - 1) {
                                    <p-divider></p-divider>
                                }
                            }
                            <div class="mt-2">
                                <p-button icon="pi pi-plus" rounded class="custom-button" (onClick)="addAffiliation()"></p-button>
                            </div>
                        </div>
                        @if(errorMap.get(curriculumNode.id + '.affiliations')) {
                            <p style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(curriculumNode.id + '.affiliations')}}</p>
                        }
                    </div>
                    <div class="custom-border p-2" style="color: #64748b;" tooltipPosition="right" showDelay="200" hideDelay="200"
                        [pTooltip]="'curriculumNodeForm.fields.trainingMaterials.tooltip' | translate: {nodeType: getNodeType()}">
                        <div class="ml-1">{{'curriculumNodeForm.fields.trainingMaterials.label' | translate}}</div>
                        @for(mat of curriculumNode.trainingMaterials; track mat.title; let idx = $index) {
                            <div class="flex flex-column sm:flex-row gap-3 p-3">
                                <p-floatlabel variant="on" class="custom-floatlabel flex-1">
                                    <p-iconfield>
                                        <input pInputText [id]="'matName' + idx" autocomplete="off" class="w-full custom-input"
                                            [(ngModel)]="mat.title"/>
                                        <p-inputicon class="pi pi-pencil"/>
                                    </p-iconfield>
                                    <label [for]="'matName' + idx">{{'curriculumNodeForm.fields.trainingMaterials.materialName' | translate}}</label>
                                </p-floatlabel>
                                <p-floatlabel variant="on" class="custom-floatlabel flex-1">
                                    <p-iconfield>
                                        <input pInputText [id]="'matUrl' + idx" autocomplete="off" class="w-full custom-input"
                                            [(ngModel)]="mat.url"/>
                                        <p-inputicon class="pi pi-pencil"/>
                                    </p-iconfield>
                                    <label [for]="'matUrl' + idx">{{'curriculumNodeForm.fields.trainingMaterials.materialUrl' | translate}}</label>
                                </p-floatlabel>
                                <p-button icon="pi pi-trash" rounded class="delete-button" (onClick)="deleteTrainingMaterial(idx)"></p-button>
                            </div>
                            @if(idx != curriculumNode.trainingMaterials.length - 1) {
                                <p-divider></p-divider>
                            }
                        }
                        <div class="mt-2">
                            <p-button icon="pi pi-plus" rounded class="custom-button" (onClick)="addTrainingMaterial()"></p-button>
                        </div>
                    </div>
                    <div>
                        <text-chips [fieldName]="'curriculumNodeForm.fields.prerequisites.label' | translate" [icon]="'pi pi-list-check'" [(chips)]="curriculumNode.prerequisites"
                                [error]="errorMap.get(curriculumNode.id + '.prerequisites') != undefined" 
                                [pTooltip]="'curriculumNodeForm.fields.prerequisites.tooltip' | translate: {nodeType: getNodeType()}" 
                                tooltipPosition="right" showDelay="200" hideDelay="200"></text-chips>
                        @if(errorMap.get(curriculumNode.id + '.prerequisites')) {
                            <p style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(curriculumNode.id + '.prerequisites')}}</p>
                        }
                    </div>
                    <div>
                        <text-chips [fieldName]="('curriculumNodeForm.fields.learningOutcomes.label' | translate) + ' *'" [icon]="'pi pi-graduation-cap'" [(chips)]="curriculumNode.learningObjectives"
                                [error]="errorMap.get(curriculumNode.id + '.learningObjectives') != undefined" 
                                [pTooltip]="'curriculumNodeForm.fields.learningOutcomes.tooltip' | translate: {nodeType: getNodeType()}"
                                tooltipPosition="right" showDelay="200" hideDelay="200"></text-chips>
                        @if(errorMap.get(curriculumNode.id + '.learningObjectives')) {
                            <p style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get(curriculumNode.id + '.learningObjectives')}}</p>
                        }
                    </div>
                    <div>
                        <text-chips [fieldName]="'curriculumNodeForm.fields.bibliography.label' | translate" [icon]="'pi pi-book'" [(chips)]="curriculumNode.bibliography"
                            [pTooltip]="'curriculumNodeForm.fields.bibliography.tooltip' | translate: {nodeType: getNodeType()}" 
                            tooltipPosition="right" showDelay="200" hideDelay="200"></text-chips>
                    </div>
                    <div class="flex flex-column">
                        <treeselect-chips
                            [(treeSelection)]="selectedTransversalSkills" (treeSelectionChange)="onTransversalSkillChange()" [treeselectOptions]="transversalSkills"
                            [pTooltip]="'curriculumNodeForm.fields.transversalSkills.tooltip' | translate" [fieldName]="'curriculumNodeForm.fields.transversalSkills.label' | translate"
                            tooltipPosition="top" showDelay="200" hideDelay="200"
                        ></treeselect-chips>
                        @if(!showCustomTransversalSkills) {
                            <p-button [rounded]="true" [text]="true" size="small" (onClick)="showCustomTransversalSkills = true"
                                class="text-button ml-auto mt-1 p-0 text-xs font-italic">{{'curriculumNodeForm.fields.transversalSkills.addCustom' | translate}}</p-button>
                        }
                    </div>
                    @if(showCustomTransversalSkills) {
                        <div>
                            <text-chips [fieldName]="'curriculumNodeForm.fields.customTransversalSkills.label' | translate" [icon]="'pi pi-chart-bar'" [(chips)]="curriculumNode.customTransversalSkills"
                                [pTooltip]="'curriculumNodeForm.fields.customTransversalSkills.tooltip' | translate: {nodeType: getNodeType()}" 
                                tooltipPosition="right" showDelay="200" hideDelay="200"></text-chips>
                        </div>
                    }
                </div>
                <div class="flex justify-content-start mt-3">
                    <p-button class="custom-secondary-button" [label]="'curriculumNodeForm.buttons.next' | translate" severity="secondary" icon="pi pi-arrow-left" (onClick)="goToNextStep(activateCallback, 1)" />
                </div>
            </ng-template>
        </p-step-panel>
    </p-step-panels>
</p-stepper>