<p-toast class="custom-toast" position="bottom-right"/>
<p-confirmdialog />
<div *ngIf="offer(); else spinner" class="flex flex-column lg:flex-row justify-content-between lg:gap-4">
    <div class="flex flex-column overflow-auto flex-auto">
        <p-breadcrumb [model]="breadcrumbItems()" class="custom-breadcrumb mt-3"></p-breadcrumb>
        <h1 class="mb-2 mt-1">
            {{selectedNode()?.name}}
            <a class="icon-link text-sm align-items-center mx-1 cursor-pointer font-normal" (click)="copyURIToClipboard()">
                Permalink
                <i class="pi pi-clone text-sm mx-1"></i>
            </a>
        </h1>
        <div class="flex align-items-center gap-2 flex-wrap white-space-nowrap mb-2">
            <div class="text-sm"><strong>Type:</strong> {{selectedNodeType()}}</div>
            |
            <div *ngIf="selectedNodeType() === 'Module'" class="flex align-items-center flex-wrap gap-2 white-space-nowrap">
                <div class="text-sm"><strong>Module Type:</strong> {{getModuleType()}}</div>
                |
            </div>
            <div *ngIf="selectedNodeType() === 'Course' && getCourseType() != undefined" class="flex align-items-center flex-wrap gap-2 white-space-nowrap">
                <div class="text-sm"><strong>Course Type:</strong> {{getCourseType()}}</div>
                |
            </div>
            <div *ngIf="selectedNodeType() === 'Lecture'" class="flex align-items-center flex-wrap gap-2 white-space-nowrap">
                <div class="text-sm"><strong>Is Practical:</strong> {{getIsPractical()}}</div>
                |
            </div>
            <div class="text-sm"><strong>EQF Level:</strong> {{selectedNode()?.eqf}}</div>
            |
            <div class="text-sm"><strong>Workload:</strong> {{selectedNode()?.ects}} ECTS</div>
            |
            <div class="text-sm"><strong>Duration:</strong> {{selectedNode()?.timeRequired?.value + " " + selectedNode()?.timeRequired?.unit}}</div>
            |
            <div class="text-sm"><strong>Created:</strong> {{offer()?.createdAt?.toLocaleDateString()}}</div>
            |
            <div class="text-sm"><strong>Visibility:</strong> {{offer()?.isPublic ? 'Public' : 'Private'}}</div>
            |
            <a class="icon-link text-sm align-items-center mx-1 cursor-pointer" (click)="toggle($event)">
                Download Metadata
                <i class="pi pi-download text-sm mx-1"></i>
            </a>
            <p-popover #op>
                <div style="color: var(--primary-color)">
                    <span class="font-medium block mb-2"><strong>Metadata Format</strong></span>
                    <ul class="p-0 m-0 flex flex-column">
                    <!--
                        <li class="flex items-center gap-2 px-2 py-2 cursor-pointer popover-element" (click)="downloadMaterialRDFa()">
                            <span class="font-medium">RDFa</span>
                        </li>
                        <li class="flex items-center gap-2 px-2 py-2 cursor-pointer popover-element" (click)="downloadMaterialXML()">
                            <span class="font-medium">RDF/XML</span>
                        </li>
                        <li class="flex items-center gap-2 px-2 py-2 cursor-pointer popover-element" (click)="downloadMaterialTTL()">
                            <span class="font-medium">Turtle</span>
                        </li>
                    -->
                    </ul>
                </div>
            </p-popover>
        </div>
        <div style="color: var(--primary-color);" class="mb-2 font-italic">{{offer()?.orgName + ((' - ' + offer()?.division) || "")}}</div>

        <p-divider></p-divider>

        <div class="mb-4 text-justify">
            {{selectedNode()?.description}}
        </div>

        <div *ngIf="selectedNodeType() === 'Course'" class="mb-4">
            <strong>Assesment:</strong>
            <div class="text-justify mt-2">{{getAssesment()}}</div>
        </div>
        
        <div class="mb-2">
            <strong>Prerequisites:</strong>
            <ul *ngIf="(selectedNode()?.prerequisites?.length || 0) || 0 > 0">
                <li *ngFor="let requisite of selectedNode()?.prerequisites">
                    {{requisite}}
                </li>
            </ul>
        </div>
        <div class="mb-2">
            <strong>Training Materials:</strong>
            <ul *ngIf="(selectedNode()?.trainingMaterials?.length || 0) || 0 > 0">
                <li *ngFor="let material of selectedNode()?.trainingMaterials">
                    <a href="{{material.url}}">
                        {{material.title}}
                        <i class="pi pi-external-link text-sm mx-1"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="mb-2">
            <strong>Learning Outcomes:</strong>
            <ul *ngIf="(selectedNode()?.learningObjectives?.length || 0) || 0 > 0">
                <li *ngFor="let outcome of selectedNode()?.learningObjectives">
                    {{outcome}}
                </li>
            </ul>
        </div>
        <div class="mb-2">
            <strong>Bibliopgraphy:</strong>
            <ul *ngIf="(selectedNode()?.bibliography?.length || 0) || 0 > 0">
                <li *ngFor="let outcome of selectedNode()?.bibliography">
                    {{outcome}}
                </li>
            </ul>
        </div>

        <div class="hidden lg:flex justify-content-between mb-2 mt-auto">
            <p-button label="Return to Homepage" severity="secondary" icon="pi pi-arrow-left" class="custom-secondary-button" (onClick)="goToMainPage()"></p-button>
            <div class="flex flex-wrap gap-2">
                <p-button disabled label="Edit Material" icon="pi pi-pencil" class="custom-button" (onClick)="editMaterial()" *ngIf="checkUser() || checkOrganizations()"></p-button>
                <p-button disabled label="Delete Material" icon="pi pi-trash" class="delete-button" (onClick)="deleteModal($event)" *ngIf="checkUser() || checkOrganizations()"></p-button>
            </div>
        </div>
    </div>
    <div class="flex flex-column">        
        <div class="flex flex-column gap-1 offer-index-column">
            <offer-index-component class="mt-3 mb-2" [offer]="offer()!" [selectedNode]="selectedNode()?.id!" (selectedNodeChanged)="changeSelectedNode($event)"></offer-index-component>
            <p-panel #affiliationsPanel [header]="'Affiliations (' + affiliations().length + ')'" toggleable="true" collapsed="false" class="my-2 custom-panel">
                <ng-template #headericons>
                    <p-button *ngIf="!conceptsPanel.collapsed" icon="pi pi-chevron-up" severity="secondary" rounded text/>
                    <p-button *ngIf="conceptsPanel.collapsed" icon="pi pi-chevron-down" severity="secondary" rounded text/>
                </ng-template>  
                <skill-tags [tags]="affiliations()" [compactBoKTags]="false"></skill-tags>
            </p-panel>
            <p-panel #studyAreasPanel [header]="'Study Areas (' + studyAreas().length + ')'" toggleable="true" collapsed="false" class="my-2 custom-panel">
                <ng-template #headericons>
                    <p-button *ngIf="!conceptsPanel.collapsed" icon="pi pi-chevron-up" severity="secondary" rounded text/>
                    <p-button *ngIf="conceptsPanel.collapsed" icon="pi pi-chevron-down" severity="secondary" rounded text/>
                </ng-template>  
                <skill-tags [tags]="studyAreas()" [compactBoKTags]="false"></skill-tags>
            </p-panel>
            <p-panel #conceptsPanel [header]="'Knowledge (' + bokConcepts().length + ')'" toggleable="true" collapsed="false" class="my-2 custom-panel">
                <ng-template #headericons>
                    <p-button *ngIf="!conceptsPanel.collapsed" icon="pi pi-chevron-up" severity="secondary" rounded text/>
                    <p-button *ngIf="conceptsPanel.collapsed" icon="pi pi-chevron-down" severity="secondary" rounded text/>
                </ng-template>      
                <skill-tags [tags]="bokConcepts()" [compactBoKTags]="false"></skill-tags>
            </p-panel>
            <p-panel #transversalSkillsPanel toggleable="true" collapsed="false" class="my-2 custom-panel"
                [header]="'Transversal Skills (' + transversalSkills().concat(customTransversalSkills()).length + ')'">
                <ng-template #headericons>
                    <p-button *ngIf="!conceptsPanel.collapsed" icon="pi pi-chevron-up" severity="secondary" rounded text/>
                    <p-button *ngIf="conceptsPanel.collapsed" icon="pi pi-chevron-down" severity="secondary" rounded text/>
                </ng-template>      
                <skill-tags [tags]="transversalSkills().concat(customTransversalSkills())" [compactBoKTags]="false"></skill-tags>
            </p-panel>
        </div>

        <p-button disabled label="Edit Material" icon="pi pi-pencil" class="lg:hidden flex justify-content-center custom-button my-2" (onClick)="editMaterial()" *ngIf="checkUser() || checkOrganizations()"></p-button>
        <p-button disabled label="Delete Material" icon="pi pi-trash" class="flex lg:hidden justify-content-center delete-button my-2" (onClick)="deleteModal($event)" *ngIf="checkUser() || checkOrganizations()"></p-button>
        <p-button label="Return to Homepage" severity="secondary" icon="pi pi-arrow-left" class="flex lg:hidden justify-content-center custom-secondary-button my-2" (onClick)="goToMainPage()"></p-button>
    </div>
</div>

<ng-template #spinner>
    <div class="flex justify-content-center align-content-center" style="height: 65vh;">
        <p-progress-spinner strokeWidth="2" ariaLabel="loading" class="flex align-items-center justify-content-center" />
    </div>
</ng-template>